<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title></title>

    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>

    <![endif]-->
    <link href="css/sty.css" rel="stylesheet">
    <script src="bower_components/vue/dist/vue.js"></script>
</head>
<body>
<div class="all">
    <div class="login" id="login_form">
        <div class="close-login-box" id="close-login-box"></div>
        <div class="login-box">
            <div class="pianke-text">世界很美, 而你正好有空</div>
            <div class="type-title-cpt"><span class="active">登录</span> <span class="">注册</span></div>
            <div class="login-content">
                <div class="login-warn"></div>
                <div class="login-input"><input type="text" placeholder="输入邮箱或手机号"></div>
                <div class="login-input"><input type="password" placeholder="密码"></div>
                <div class="forget-psw"><a href="../../pages/set/getCaptcha.html?type=2">忘记密码?</a></div>
                <div class="login-btn">登录</div>
            </div>
            <div class="register-content" style="display: none;"><img
                    src="http://qnstatic.pianke.me/public/assets/img/pianke-code.png"></div>
            <div class="login-others-way">
                <div>社区帐号登录:</div>
                <div class="share-cpt">
                    <div class="share-sina"></div>
                    <div class="share-wechat"></div>
                    <div class="share-qq"></div>
                    <div class="share-dou"></div>
                </div>
            </div>

        </div>

    </div>
    <div class="header">
        <nav id="navDiv" style="display: block; transition: all 0.6s;"
             class="navbar navbar-default navbar-fixed-top header">
            <div class="container">
                <ul class="nav nav-pills navbar">

                    <li role="presentation"><a href="#" class="logo"></a></li>
                    <li><a>首页</a></li>
                    <li><a>阅读</a></li>
                    <li><a>电台</a></li>
                    <li><a>碎片</a></li>
                    <li><a>客户端</a></li>
                </ul>
                <div class="navbar-icon">
                    <div class="editer">
                        <div>
                            <img src="img/edit-icon.png">
                        </div>

                    </div>
                    <div class="login-btn" id="login-btn">
                        <div>登录&nbsp;<span>/</span>&nbsp;注册</div>

                    </div>

                </div>


            </div>
        </nav>

    </div>
    <div class=" bg">
        <div class="container" style="margin-top: 90px">
            <div class="focus-picture">
                <div id="bigundefind">
                    <img v-bind:src="headOnBig.cover">
                    <div id="fontBlackundefind">
                        <span class="article-focus-bg"></span>
                        <span class="article-focus-title">{{headOnBig.title}}</span>
                    </div>
                </div>
                <div v-for=" (a,index) in headOnPic" class="focus-radio" :id="'big'+index">
                    <img :src="a.cover" class="si">
                    <div :id="'fontBlack'+index">
                        <span class="focus-bg"></span>
                        <span class="focus-title">{{a.title}}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="index-context">
        <div class="article-list-group">
            <div class="title-cpt">
                <span class="glyphicon glyphicon-stop" aria-hidden="true"></span>
                阅读 | Read
            </div>
            <div v-for="(tic,index) in articles" class="article-cpt">
                <div class="article-info">
                    <div class="article-info-box">
                        <div class="article-title">
                            <a>{{tic.title}}</a>

                        </div>
                        <div class="article-author">
                            <a>By / {{tic.uname}}</a>
                        </div>
                        <div class="article-content">
                            {{tic.summary}}
                            <span class="view-all">
                                <a>VIEW ALL
                              <span class="glyphicon glyphicon-play" aria-hidden="true"></span>
                                </a>
                            </span>
                        </div>
                    </div>
                    <div class="article-others">{{tic.views}}次阅读 &nbsp | &nbsp评论:{{tic.comments}} &nbsp |
                        &nbsp喜欢:{{tic.likes}}
                    </div>
                </div>
                <img class="article-img" :src="tic.cover">


            </div>

        </div>
        <div class="article-img-list-group">
            <div class="title-cpt">
                <span class="glyphicon glyphicon-stop" aria-hidden="true"></span>
                图片 | Picture
            </div>
            <div class="article-img-cpt">
                <div class="article-img">
                    <img v-bind:src="handImg.cover">
                    <img v-bind:src="handImg.small1">
                    <img v-bind:src="handImg.small2">
                </div>
                <div class="article-img-info">
                    <div class="article-img-title">
                        <a>{{handImg.title}}</a>
                    </div>
                    <div class="article-img-content">

                        {{handImg.summary}}
                        <span class="view-all">
                            <a>VIEW ALL
                              <span class="glyphicon glyphicon-play" aria-hidden="true"></span>
                                </a>
                        </span>
                    </div>


                </div>
                <div class="article-img-others">
                    <span>
                        <a>By /  {{handImg.uname}} </a>
                    </span>
                    <span>{{handImg.view}}次阅读&nbsp;&nbsp;|&nbsp;&nbsp;评论:{{handImg.comments}}&nbsp;&nbsp;|&nbsp;&nbsp;喜欢:{{handImg.like}}</span>
                </div>
            </div>

        </div>
        <div class="ting-list-group">
            <div class="title-cpt">
                <span class="glyphicon glyphicon-stop" aria-hidden="true"></span>
                TING
            </div>
            <div class="ting-list">
                <div v-for="(t,index) in tings" class="ting-cpt">
                    <div class="ting-img" :id="'ting'+index">
                        <a><img :src="t.cover"></a>
                        <span class="focus-bg" :id="'bg-focus'+index"></span>
                    </div>
                    <div class="ting-info">
                        <div class="ting-title">
                            <a>{{t.title}}</a>
                        </div>
                        <div class="ting-author">
                            <a>主播 / {{t.uname}}</a>
                        </div>
                        <div class="ting-others">
                            {{t.view}}次播放 | 评论:{{t.comments}} | 喜欢:{{t.like}}
                        </div>
                    </div>
                </div>

            </div>

        </div>
        <div class="user-list-group">
            <div class="title-cpt">
                <span class="glyphicon glyphicon-stop" aria-hidden="true"></span>
                人气片客 | Hot Pianker
            </div>
            <div class="user-list">
                <div v-for="(ins,index) in insterests" class="user-cpt">
                    <div class="user-info">
                        <div class="user-cpt-left">
                            <a>
                                <img :src="ins.icon">
                            </a>
                            <img src="img/user_musician.png">
                        </div>
                        <div class="user-cpt-right">
                            <div class="user-name">
                                <a>{{ins.uname}}</a>
                            </div>
                            <div class="user-des">
                                {{ins.desc}}
                            </div>

                        </div>

                    </div>
                </div>

            </div>
        </div>

    </div>
    <div class="more-botton">
        <div class="btn-box">
            <div class="btn btn-more">查看更多精选内容</div>
        </div>
    </div>
    <footer>
        <div class="foot">
            <div class="foot-logo"></div>
            <div class="foot-link">
                <span>
                    <a>关于我们</a>
                    <a>友情链接</a>
                    <a>片刻帮助</a>
                    <a>意见反馈</a>
                    <a>成长记忆</a>
                </span>
                <br>
                <span>
                    All rights reserved © 2016 pianke.me /蜀ICP备12022689号-1
                </span>
            </div>
            <div class="foot-icon">
                <div class="foot-app">

                </div>
                <div class="foot-weibo">

                </div>
                <div class="foot-wechat" id="we">

                    <p class="towMa" id="towMa"></p>
                </div>
                <div class="foot-safe" style="width: 80px">

                </div>
            </div>

        </div>
    </footer>
    <div class="maoDian" id="maoDian">
        <a></a>
    </div>

</div>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="js/bootstrap.min.js"></script>
</body>
<script>
    var oneBig = {
        title: "剧单 | 推荐7部小众英剧",
        cover: "http://hpimg.pianke.me/a6173860cb59708408031d8b9adb64c720170505.jpg?imageView2/2/w/640/format/jpg"
    };
    var on = [

        {
            title: "你曾为喜欢的人做出过怎样的改变",
            cover: "http://hpimg.pianke.me/a59f871fb2b2dec7cbfd2fd925ae673720170417.jpg?imageView2/2/w/640/format/jpg"

        },
        {
            title: "心酸",
            cover: "http://pkimg.image.alimmdn.com/upload/20170410/7fc027bf0382534d131180300b86e89a.JPG@640w_85Q.jpg"

        },
        {
            title: "宋仲基还是郑中基？3招教你克服选择困难症！",
            cover: "http://hpimg.pianke.me/db9de9caad6a15b1653d43302eb4c24c20170503.jpg?imageView2/2/w/640/format/jpg"

        },
        {
            title: "外面的世界",
            cover: "http://pkimg.image.alimmdn.com/upload/20151229/20d253dd44a5022eac91e6cb57ef2d23.JPG@640w_85Q.jpg"

        }


    ];
    var handHuan = {
        cover: "http://hpimg.pianke.me/00a44494109e1d39b7804431cd05b8f820170505.jpg?imageView2/2/w/640/format/jpg",
        small1: "http://hpimg.pianke.me/5b1d935097d6429b89709a502580034320170505.jpg?imageView2/2/w/640/format/jpg",
        small2: "http://hpimg.pianke.me/86c312506fc282b1f1aa76267675adb620170505.jpg?imageView2/2/w/640/format/jpg",
        title: "守时 | 需要两个人才能带上的手环",
        summary: "我们做了一些让你感到「为难」的设计。",
        uname: "片刻",
        view: 942,

        comments: 3,
        like: 39

    };
    var ting = [
        {
            cover: "http://hpimg.pianke.me/0903d5594804a7cdbe7d93e75553aa4e20170410.jpg?imageView2/2/w/640/format/jpg",
            title: "【斑马 斑马】",
            uname: "握蓝",
            view: 8435,
            comments: 12,
            like: 87
        },
        {
            cover: "http://hpimg.pianke.me/e63acd7657e5bb727b6422967064500220170414.jpg?imageView2/2/w/640/format/jpg",
            title: "♫ 送往繁星",
            uname: "吃吃的",
            view: 19346,
            comments: 29,
            like: 138
        },
        {
            cover: "http://pkimg.image.alimmdn.com/upload/20160218/cc78e97709da3818836d26e4983f51a9.JPG@640w_85Q.jpg",
            title: "给流氓一把吉他",
            uname: "你好南望",
            view: 66534,
            comments: 99,
            like: 252
        },
    ];
    var article = [
        {
            title: '掌握这个关键技能，轻松玩转职场！',
            summary: '文/潇逸霏 1.3月初，我一个大学同学发微信给我，她刚辞职没多久，要换工作，想让我帮她改简历。我和她从毕业到现在都没联系过，我们班另一个',
            uname: '潇逸霏',
            views: 232,
            likes: 22,
            comments: 1,
            cover: 'http://hpimg.pianke.me/167f0da4d9238ad6e844313f885c74b120170505.jpg?imageView2/2/w/640/format/jpg'
        },
        {
            title: '我曾经毫无指望地爱过你',
            summary: '1  “雨声潺潺，像住在溪边。宁愿天天下雨，以为你是因为下雨不来。”  很难想象，这么缠绵绯恻的情话，竟然出自性格清冷的张爱玲笔下。她日日相思的人，也不是众所',
            uname: 'ζั͡✾造ൢ梦ൢ',
            views: 637,
            likes: 56,
            comments: 2,
            cover: 'http://hpimg.pianke.me/a3919a470886b62ba9e5b5b6fc9c927720170426.jpg?imageView2/2/w/640/format/jpg'
        },
        {
            title: '曾经我也想过一了百了',
            summary: '中岛美嘉   曾经我也想过一了百了“我本想这个冬天就死去的，可是最近拿到一套鼠灰色细条纹的麻质和服，是适合夏天穿的和服，所以我还是先活到夏天',
            uname: 'Seven凉奈',
            views: 683,
            likes: 57,
            comments: 3,
            cover: 'http://hpimg.pianke.me/44c981fc205520f8d251b54a807e4a2020170505.jpg?imageView2/2/w/640/format/jpg'
        }
    ];
    var insterest = [

        {
            icon: "http://pkimg.image.alimmdn.com/upload/20170414/8dabf2aae99f99cdd598186cbd0380a8.jpg@90w_90h_1e_1c_85Q.jpg",
            uname: "羊萌萌",
            desc: "片刻翻唱达人"
        },
        {
            icon: "http://hpimg.pianke.me/4cca2c8e44c978c11697d580db691bb220170209.png?imageView2/2/w/90/format/jpg",
            uname: "王睿 Ray",
            desc: "流行歌手王睿"
        },
        {
            icon: "http://pkicon.image.alimmdn.com/icon/876/604876/4940be8b28eee8808afc807251a98355_180",
            uname: "南夏-",
            desc: "声音是颗安眠药"
        },
        {
            icon: "http://hpimg.pianke.me/8051fb756aada8fb0ef286a1248e006820170423.jpg?imageView2/2/w/90/format/jpg",
            uname: "七染和以呆",
            desc: "酿酒、养猫、讲故事"
        }

    ];

    var vm = new Vue({
        el: '.all',
        data: {
            headOnBig: oneBig,
            headOnPic: on,
            handImg: handHuan,
            tings: ting,
            articles: article,
            insterests:insterest



        }

    });
    window.onload = function () {
        var mao = document.getElementById("maoDian");
        window.onscroll = function () {
            var top = window.pageYOffset || document.documentElement.scrollTop || document.body.scrollTop;
            var node = document.getElementById("navDiv");
            if (top < 50) {//500就是滚动条滚动到的位置，大于500才显示
                node.style.display = 'block';
            } else {
                node.style.display = 'none';
            }

            if (top > 300) {
                mao.style.display = "block";


            } else {
                mao.style.display = "none";
            }
            mao.onclick = function () {
                document.documentElement.scrollTop = document.body.scrollTop = 0;
            }

        };

        $("#login-btn").click(function () {
            $("#login_form").css("display", "block")
        });

        $("#we").mousemove(function () {
            $("#towMa").css("display", "block");

        });
        $("#we").mouseleave(function () {
            $("#towMa").css("display", "none");

        });
        $("#close-login-box").click(function () {
            $("#login_form").css("display", "none")
        });
        $("#ting0").mousemove(function () {
            $("#bg-focus0").css("display", "block");
            $("#ting0 img").css("transform", "scale(1.2)");
        });
        $("#ting0").mouseleave(function () {
            $("#bg-focus0").css("display", "none");
            $("#ting0 img").css("transform", "scale(1)");
        });
        $("#ting1").mousemove(function () {
            $("#bg-focus1").css("display", "block");
            $("#ting1 img").css("transform", "scale(1.2)");
        });
        $("#ting1").mouseleave(function () {
            $("#bg-focus1").css("display", "none");
            $("#ting1 img").css("transform", "scale(1)");
        });
        $("#ting2").mousemove(function () {
            $("#bg-focus2").css("display", "block");
            $("#ting2 img").css("transform", "scale(1.2)");
        });
        $("#ting2").mouseleave(function () {
            $("#bg-focus2").css("display", "none");
            $("#ting2 img").css("transform", "scale(1)");
        });
        $("#bigundefind").mouseleave(function () {
            $("#bigundefind>img").css("transform", "scale(1)");
            $("#fontBlackundefind").css("display", "none");
        });
        $("#bigundefind").mousemove(function () {
            $("#fontBlackundefind").css("display", "block");
            $("#bigundefind>img").css("transform", "scale(1.2)");
        });
        $("#bigundefind").mouseleave(function () {
            $("#bigundefind>img").css("transform", "scale(1)");
            $("#fontBlackundefind").css("display", "none");
        });
        $("#big0").mousemove(function () {
            $("#fontBlack0").css("display", "block");
            $("#big0>img").css("transform", "scale(1.2)");
        });
        $("#big0").mouseleave(function () {
            $("#big0>img").css("transform", "scale(1)");
            $("#fontBlack0").css("display", "none");
        });
        $("#big1").mousemove(function () {
            $("#fontBlack1").css("display", "block");
            $("#big1>img").css("transform", "scale(1.2)");
        });
        $("#big1").mouseleave(function () {
            $("#big1>img").css("transform", "scale(1)");
            $("#fontBlack1").css("display", "none");
        });
        $("#big2").mousemove(function () {
            $("#fontBlack2").css("display", "block");
            $("#big2>img").css("transform", "scale(1.2)");
        });
        $("#big2").mouseleave(function () {
            $("#big2>img").css("transform", "scale(1)");
            $("#fontBlack2").css("display", "none");
        });
        $("#big3").mousemove(function () {
            $("#fontBlack3").css("display", "block");
            $("#big3>img").css("transform", "scale(1.2)");
        });
        $("#big3").mouseleave(function () {
            $("#big3>img").css("transform", "scale(1)");
            $("#fontBlack3").css("display", "none");
        });

    };
</script>
</html>
